{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "security"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:security/recommended"
  ],
  "ignorePatterns": [
    "**/dist/*"
  ],
  "rules": {
    "security/detect-object-injection": "off"
  }
}